.container {
  margin-top: 5%;
}

.title-login {
  margin-bottom: 5% !important;
  margin-left: 5% !important;
}

.customer-total {
  float: right !important;
  margin-top: -8% !important;
  margin-right: 5% !important;
}

.sunshade-container {
  margin-left: 25% !important;
}

.card-adjust {
  margin-left: 4em !important;
}

.card-icon {
  margin: 25px !important;
}

.text-center {
  text-align: center!important;
}

.inline {
  display: inline !important;
}

.zero-width {
  width: 0px !important;
}

.sunshade-list {
  font-size: 18px !important;
}
