<div>
  <h1 class="ui block header title-login">Dettaglio Cliente <i class="home orange huge icon float-right-only" ng-click=goToUrl("")></i></h1>
</div>
<div class="ui big breadcrumb title-login">
  <a class="section" ng-click="goToUrl('')">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section" ng-click="goTo('customers')">Elenco clienti</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Dettagli cliente</div>
</div>
  <div class="item">
    <div class="icon">
      <i class="user icon huge customer-details-image customer-details-icon"></i>
    </div>
    <div class="content customer-details-image customer-details-font-size">
      <a class="header">
        Nome e Cognome
      </a>
      <div class="description">
        <p>Saldo: </p>
      </div>
      <div class="extra">
        <div ng-click="showModal()" class="ui right floated primary button customer-details-button-size">
          Aggiungi Credito
          <i class="right chevron icon"></i>
        </div>
        <div class="ui label">Limited</div>
      </div>
    </div>
  </div>
<div class="ui modal">
  <i class="close icon"></i>
  <div class="header">
    Inserisci importo ricarica!
  </div>
  <div class="image content">
    <div class="icon">
      <i class="euro icon huge"></i>
    </div>
    <div class="ui input">
      <input placeholder="Quanto vuoi ricaricare?" type="text">
    </div>
  </div>
  <div class="actions">
    <div  ng-click="hideModal()" class="ui button">Cancel</div>
    <div class="ui button">OK</div>
  </div>
</div>
