<div>
  <h1 class="ui block header title-login">Dettagli ombrellone <i class="home orange huge icon float-right-only" ng-click=goToUrl("")></i></h1>
</div>
<div class="ui big breadcrumb title-login">
  <a class="section" ng-click="goToUrl('')">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section" ng-click="goBackOne('beach')">Vista ombrelloni</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Dettagli ombrellone</div>
</div>
<div class="ui sunshade-container">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src="images/omb-{{sunshade.Available == '1' ? 'gray' : sunshade.Paid == '1' ? 'green' : 'red'}}.png" class="sunshade-dimensions-detail"></img>
      </div>
      <div class="content">
        <a class="header">Ombrellone N° {{sunshade.SunshadeNumber}}</a>
        <div class="meta">
          <span class="cinema">{{sunshade.Customer.name}} {{sunshade.Customer.surname}}</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          <div class="ui {{sunshade.Available == '1' ? 'gray' : sunshade.Paid == '1' ? 'green' : 'red'}} label">{{sunshade.Available == '1' ? 'Disponibile' : sunshade.Paid == '1' ? 'Pagato' : 'Non pagato'}}</div>
          <div class="ui label"><i class="calendar icon"></i>{{sunshade.ExpiringDate | date}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">
          {{sunshade.Customer.name}} {{sunshade.Customer.surname}}
        </div>
        <div class="meta">
          Prenotato il {{sunshade.BookingDate | date}}
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div ng-click="goTo('customers', sunshade.customer.id)" class="ui basic green button">Visualizza Cliente</div>
        </div>
      </div>
    </div>
  </div>
</div>
