<div class="ui sunshade-container">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <i class="umbrella massive orange icon"></i>
      </div>
      <div class="content">
        <a class="header">Ombrellone N° {{sunshadeId}}</a>
        <div class="meta">
          <span class="cinema">Fam. Tal dei Tali</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          <div class="ui red label">Non Pagato</div>
          <div class="ui label"><i class="users icon"></i> Info su Famiglia</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">
          Elliot Fu
        </div>
        <div class="meta">
          Friends of Veronika
        </div>
        <div class="description">
          Elliot requested permission to view your contact details
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div class="ui basic green button">Visualizza Saldo</div>
        </div>
      </div>
    </div>
  </div>
</div>
