<div>
  <h1 class="ui block header title-login">Dettagli ombrellone <i class="home orange huge icon float-right-only" ng-click=goToUrl("")></i></h1>
</div>
<div class="ui big breadcrumb title-login">
  <a class="section" ng-click="goToUrl('')">Home</a>
  <i class="right chevron icon divider"></i>
  <a class="section" ng-click="goBackOne('beach')">Vista ombrelloni</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Dettagli ombrellone</div>
</div>
<div class="ui sunshade-container">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src="images/omb-{{sunshade.available ? 'gray' : sunshade.paid ? 'green' : 'red'}}.png" class="sunshade-dimensions-detail"></img>
      </div>
      <div class="content">
        <a class="header">Ombrellone N° {{sunshade.num}}</a>
        <div class="meta">
          <span class="cinema">{{sunshade.customer.name}}</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          <div class="ui {{sunshade.available ? 'gray' : sunshade.paid ? 'green' : 'red'}} label">{{sunshade.available ? 'Disponibile' : sunshade.paid ? 'Pagato' : 'Non pagato'}}</div>
          <div class="ui label"><i class="calendar icon"></i>{{sunshade.customer.book}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui cards">
    <div class="card">
      <div class="content">
        <div class="header">
          {{sunshade.customer.name}}
        </div>
        <div class="meta">
          Prenotato il {{sunshade.customer.book}}
        </div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <div ng-click="goTo('customers', sunshade.customer.id)" class="ui basic green button">Visualizza Cliente</div>
        </div>
      </div>
    </div>
  </div>
</div>
