<div>
  <h1 class="ui block header title-login">Elenco clienti</h1>
  <i class="home orange huge icon home-button" ng-click=goToUrl("")></i>
</div>
<table class="ui sortable celled table">
  <thead>
    <tr>
      <th class="">Codice cliente</th>
      <th class="">Nome</th>
      <th class="">Cognome</th>
      <th class="sorted ascending">Stato</th>
      <th class="">Saldo</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AF4567</td>
      <td class="">Oscar</td>
      <td class="">Benedetti</td>
      <td class="positive"><i class="icon checkmark"></i> Attivo</td>
      <td class="error"><i class="attention icon"></i> 0 €</td>
    </tr>
  </tbody>
</table>
