<div>
  <h1 class="ui block header title-login">Elenco clienti <i class="home orange huge icon float-right-only" ng-click=goToUrl("")></i></h1>
</div>
<div class="ui big breadcrumb title-login">
  <a class="section" ng-click="goToUrl('')">Home</a>
  <i class="right chevron icon divider"></i>
  <div class="active section">Elenco clienti</div>
</div>
<table class="ui sortable celled table customer-table">
  <thead>
    <tr>
      <th class="">Codice cliente</th>
      <th class="">Nome</th>
      <th class="">Cognome</th>
      <th class="sorted ascending">Stato</th>
      <th class="">Saldo</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-click="goTo('customers', c.id)" ng-repeat="c in allCustomers" class="hover-table">
      <td>{{c.code}}</td>
      <td class="">{{c.firstname}}</td>
      <td class="">{{c.lastname}}</td>
      <td class="{{c.active ? 'positive': 'negative'}}"><i class="icon checkmark"></i>{{c.active ? 'Attivo': 'Non attivo'}}</td>
      <td class="{{c.credit < 0 ? 'negative' : 'positive'}}"><i class="{{c.credit < 0 ? 'attention' : ''}} icon"></i>{{c.credit}}€</td>
    </tr>
  </tbody>
</table>
<div class="ui right floated small primary labeled icon button addUser-button">
  <i class="user icon"></i> Add User
</div>
